* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.reaction_sec,
.memory_sec,
.verbal_sec,
.visual_sec {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 1rem;
}