@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
}

.result_section {
    background: rgb(120, 87, 255);
    background: linear-gradient(180deg, rgba(120, 87, 255, 1) 0%, rgba(46, 43, 233, 1) 80%);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.result_bubble {
    height: 150px;
    width: 150px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0));
    border: none;
    border-radius: 50%;
}

h1 {
    font-size: 3rem;
}

.result-percentage {
    display: block;
    font-size: 1.2rem;
    color: lightgray;
}

.result-p {
    color: lightgray;
}

.result-p2 {
    margin-bottom: .8rem;
}

p {
    font-size: 18px;
}

.result_section {
    text-align: center;
    padding: 0 4rem;
    margin-bottom: 3rem;
}

.result_summary {
    padding: 0 1.8rem;
}

.reaction_sec,
.memory_sec,
.verbal_sec,
.visual_sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
    border: 1px solid lightgray;
    border-radius: .5rem;
    height: 3rem;
    margin-bottom: 1rem;
    background-color: hsl(0, 100%, 96%);
}

.summary-icon {
    display: flex;
    gap: 1rem;
}

button {
    font-size: 18px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: hsl(224, 30%, 27%);
    padding: 5% 40%;
    border-radius: 2rem;
}

.reaction_sec .summary-icon p {
    color: hsl(0, 100%, 67%);
}

.memory_sec .summary-icon p {
    color: hsl(39, 100%, 56%);
}

.verbal_sec .summary-icon p {
    color: hsl(166, 100%, 37%);
}

.visual_sec .summary-icon p {
    color: hsl(234, 85%, 45%);
}

.summary-percentage p {
    color: hsl(224, 30%, 27%);
}

.summary-percent {
    color: hsl(241, 100%, 89%);
}